/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap'); */

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;

  /* width:max-content; */
}



